{% extends 'base.html' %}

{% block content %}


<div class="righted width-90" style="margin-top: 2%;">
    <span class="m-button">
      view my logs
    </span>
    <span class="m-button">
      signup
    </span>
  </div>

  <div class="width-70">
    <div class="centered top-padding-3">
      <h2>Logs</h2>
    </div>
  </div>

  <div class="width-70 centered">
    <input class="log-head" type="text" placeholder="Heading">
    <textarea class="log-text" name="Text1" placeholder="Logs"></textarea>
    <span class="m-button">
      Save
    </span>
    <span class="m-button">
      Process
    </span>
    <span class="m-button">
      Reset
    </span>
  </div>
  



{% endblock %}s